#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}

#formulario, #resultado{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    max-width: 1000px;
    min-width: 450px;
    width: 50%;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    margin: 1vw auto;
}

#resultado h1{
    text-align: center;
}

#formulario button{
    border: none;
    background-color: rgb(230, 230, 230);
    margin: 0.7vw auto 0 auto;
    border-radius: 5px;
    transition: 0.1s ease;
    padding: 0.3vw 0.4vw;; 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

#formulario button:hover{
    transform: scale(1.02);
}


#formulario select{
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 0.3vw 0.4vw;; 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

#formulario span{
    padding: 0.7vw 0 0.4vw 0;
}


img{
    width: 50%;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.row{
    display: flex;
}

label{
    margin: auto auto auto 0;
    text-align: left;
}